body {
    background-color: whitesmoke;
} 

p{
    color: black;
    border: red;
    padding-top: 10px;
}

#titulo{
    position: sticky;
    padding: 10px;
    top:0;
    background-color: rgb(212, 212, 244);
}

#logo{
    font-size: 2rem;
}

p {
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

.viaje{
    margin-left: 19vw;
}

.texto{
    margin-left: 2vw;
}

.parrafos{
    margin-left: 2vw;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;
}

.imagenes{
    display: flex;
    justify-content: space-between;
}

.imagenes{
    width: 19vw;
    height: 19vw;
    margin-right: 5vw;
    margin-left: 2vw;
}

